<style>
	nav {
		display: flex;
		gap: 1rem;
		margin-bottom: 1rem;
	}
</style>

<nav>
    <a href="/">about</a>
    <a href="/thoughts">thoughts</a>
    <a href="/engineering">engineering</a>
</nav>

<h3>Peter Lee</h3>
