---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"thoughts">["data"];

const { title, description, pubDate } = Astro.props;
---

<article>
	<h1>{title}</h1>
	<FormattedDate date={pubDate} />
	<slot />
</article>
